@use '@/styles/config/variables' as *;
@use '@/styles/util/mixins/phone-link' as *;

body {
  @include set-disable-phone-link-in-sp();

  color: $colorText;
  font-family: $fontFamily;
  font-feature-settings: 'palt' 1;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  outline: none;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}
