@use '@/styles/config/variables' as *;
@use '@/styles/util/mixins/media-query' as *;

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;

  @include sp {
    padding: 0;
  }
}
