@use '@/styles/config/variables' as *;
@use '@/styles/util/mixins/hoverEffect' as *;

.button {
  @include hoverEffect;

  background-color: $darker;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  height: 40px; // 100%;
  position: relative;
  width: 40px; // 100%;

  &::before,
  &::after {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 18px;
    width: 17px;
  }

  &::after {
    right: 6px;
    transform: rotate(45deg);
  }
  &::before {
    left: 6px;
    transform: rotate(-45deg);
  }
}
