@use '@/styles/config/variables' as *;
@use '@/styles/util/functions/rem' as *;
@use '@/styles/util/mixins/hoverEffect' as *;

.breadcrumbWrapper {
  height: 100%;
  width: 100%;
}

.breadcrumb {
  display: flex;
  height: 100%;
  width: 100%;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }

  &::after {
    content: '';
    display: block;
    border-left: 1px solid black;
    height: calc(100% - 2px);
    width: 2px;
    position: absolute;
    right: -0.75em;
    top: 2px;
    transform: rotate(15deg);

  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.breadcrumbLink {
  @include hoverEffect;

  font-size: rem($fontSizeSm);
  line-height: 1;
  text-decoration: none;

  &.current {
    color: $colorText02;

    &:hover {
      transition: none;
      opacity: 1;
    }
  }
}
